@import 'config';
@import 'mixins';
@import 'grid-classes';
@import './components/nav';
@import './components/header';
@import './components/dropdown';
@import './components/footer';
@import './elements/buttons';
@import './elements/field-quantity';

.container {
  @include container($xs-grid-gutter: $grid-gutter-width - 10);
}

.page {
  padding-bottom: 30px;

  @include md {
    padding-bottom: 45px;
  }
}

.close {
  position: relative;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  opacity: 0.3;
  background-color: transparent;
  border: 0;
  display: block;
  padding: 0;
}
.close:focus {
  outline: none;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: ' ';
  height: 31px;
  width: 1px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.section {
  padding: 15px 0;

  @include lg {
    padding: 45px 0;
  }
}

.splide {
  &__pagination {
    line-height: 1;
    padding: 20px 0 0;
    li {
      padding: 0 10px;
    }
    &__page {
      display: block;
      border: 0;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #f6f6f7;
      box-shadow: 0 0 0 0px #f6f6f7;
      transition: box-shadow $transition-time;
      &:focus {
        outline: none;
      }
      &.is-active {
        background-color: #e5e5e5;
        box-shadow: 0 0 0 2px #e5e5e5;
      }
    }
  }
}

.promo {
  margin-bottom: 30px;
  @include lg {
    margin-bottom: 70px;
  }

  .splide__track {
    padding-bottom: 10px;
    @media screen and (min-width: 557px) {
      margin: 0 -15px -10px -15px;
    }
  }
  .splide__slide {
    display: flex;
  }

  &__item {
    display: inline-flex;
    flex-direction: column;
    box-shadow: $box-shadow;

    @media screen and (min-width: 557px) {
      margin: 0 15px;
    }
  }
  &__img {
    max-height: 239px;
  }
  &__title {
    font-size: 24px;
    padding: 17px 10px;
    text-align: center;
    line-height: 1.2;
  }
}

.advantage {
  &__item {
    display: flex;
    align-items: center;

    padding: 10px;
    border: 5px solid #fff;
    box-shadow: inset $box-shadow, $box-shadow;
    margin-bottom: (($grid-gutter-width - 10) / 2);

    @include lg {
      margin-bottom: $grid-gutter-width;
    }

    @include lg {
      height: 173px;
      padding: 25px;
    }

    span {
      margin: auto;
      font-size: 16px;
      color: #27a4dd;
      line-height: 1.2;
      text-align: center;
      padding: 0 5px;

      @include lg {
        font-size: 23px;
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 100%;
    border: 5px solid #fff;
    box-shadow: inset $box-shadow, $box-shadow;

    @include lg {
      width: 120px;
      height: 120px;
    }
  }
}

.categories {
  & [class*='col-'] {
    margin-bottom: $grid-gutter-width;
  }

  &__item {
    padding: 18px 10px;
    text-align: center;
    box-shadow: $box-shadow;
    height: 100%;

    a {
      text-decoration: none;
    }

    &:hover {
      .categories__img {
        opacity: 1;
      }
      .categories__title {
        color: #27a4dd;
      }
    }
  }
  &__img {
    opacity: 0.35;
    transition: opacity $transition-time;
    img {
      max-height: 134px;
    }
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #3c3c3c;
    margin-bottom: 0;
    padding-top: 10px;
    transition: color $transition-time;

    @include md {
      font-size: 18px;
      padding-top: 5px;
    }
  }
}

.banner {
  .splide__track {
    margin: 0 -10px -10px -10px;
    padding-bottom: 10px;
    @include md {
      margin: 0 -15px -10px -15px;
    }
  }

  &-item {
    box-shadow: $box-shadow;
    height: 312px;
    padding: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include md {
      margin: 0 15px;
    }

    &__content {
      max-width: 500px;
      @include sm-max {
        margin: auto 0;
      }
    }
    &__text {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1;
      color: #3c3c3c;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 28px;
      line-height: (48/36);
      color: #3c3c3c;
      @include lg {
        font-size: 36px;
      }
    }
  }

  .btn {
    max-width: 294px;
    width: 100%;
  }
}

.product-gallery {
  padding: 10px 0;
  border-top: 1px solid #f7f7f9;
  border-bottom: 1px solid #f7f7f9;

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    button {
      background-color: transparent;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 0;
      margin: 0 5px 0 0;
      padding: 10.5px 40px;
      color: #a2a6a7;
      font-size: 18px;
      line-height: 1;
      max-width: 210px;
      width: 100%;
      text-align: center;
      transition: all $transition-time;
      width: 50%;

      @include md {
        width: auto;
      }

      span {
        display: flex;
        align-items: center;
        pointer-events: none;
        border-bottom: 1px dotted transparent;
      }

      svg {
        display: inline-flex;
        vertical-align: middle;
        margin-right: 6px;
        color: #a2a6a7;
      }

      &:hover,
      &.active {
        background-color: #f7f7f9;
        color: #27a4dd;
        svg {
          color: #27a4dd;
        }

        span {
          border-color: inherit;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.product {
  text-align: center;
  color: #3c3c3c;
  &__img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
    height: 157px;
  }
  &__name {
    font-size: 11px;
    color: #03a9f4;
    margin-bottom: 5px;
  }
  &__code {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
  }
  &__price {
    font-size: 18px;
    line-height: 1;
  }
  &__action {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__tocart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    background-color: #27a4dd;
    margin-left: 6px;
    color: #fff;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.splide__arrow {
  border: 0;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 28%;
  z-index: 1;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  svg {
    fill: #e5e5e5;
    width: 48px;
    height: 48px;
  }

  &--prev {
    left: 0;

    @include lg {
      transform: translateX(calc(-100% - 5px));
    }
    svg {
      transform: rotate(180deg);
    }
  }

  &--next {
    right: 0;

    @include lg {
      transform: translateX(calc(100% + 5px));
    }
  }

  &:hover {
    svg {
      fill: #03a9f4;
    }
  }
}

.last-news {
  @include sm-max {
    padding: 0 15px;
  }
  .splide__track {
    margin: 0 -15px -10px -15px;
    padding-bottom: 10px;
  }
  .splide__slide {
    display: flex;
  }
  &__item {
    box-shadow: $box-shadow;
    margin: 0 auto;

    @include md {
      margin: 0 15px;
    }
  }
  &__title {
    background-color: #27a4dd;
    color: #fff;
    font-size: 18px;
    padding: 4px 28px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 60px;
      top: 0;
      bottom: 2px;
      right: -10px;
      transform: skewX(28deg);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
      width: 24px;
      height: 24px;
    }

    &--info {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg fill='%2327a4dd' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 24H3.75A3.754 3.754 0 010 20.25V2.75A2.752 2.752 0 012.75 0h12.5A2.752 2.752 0 0118 2.75V3h3.25A2.752 2.752 0 0124 5.75v14.5c0 1.916-1.444 3.5-3.301 3.723A.724.724 0 0120.5 24zM18 4.5v15.75c0 1.241 1.009 2.25 2.25 2.25s2.25-1.009 2.25-2.25V5.75c0-.689-.561-1.25-1.25-1.25zm-15.25-3c-.689 0-1.25.561-1.25 1.25v17.5a2.252 2.252 0 002.25 2.25h13.502a3.73 3.73 0 01-.752-2.25V2.75c0-.689-.561-1.25-1.25-1.25z'/%3E%3Cpath d='M8.25 9h-4.5A.75.75 0 013 8.25v-4.5A.75.75 0 013.75 3h4.5a.75.75 0 01.75.75v4.5a.75.75 0 01-.75.75zM4.5 7.5h3v-3h-3zM14.25 5.5h-2.5a.75.75 0 010-1.5h2.5a.75.75 0 010 1.5zM14.25 8.5h-2.5a.75.75 0 010-1.5h2.5a.75.75 0 010 1.5zM14.25 12.5H3.75a.75.75 0 010-1.5h10.5a.75.75 0 010 1.5zM14.25 16.25H3.75a.75.75 0 010-1.5h10.5a.75.75 0 010 1.5zM14.25 20H3.75a.75.75 0 010-1.5h10.5a.75.75 0 010 1.5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }
    &--sale {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg fill='%2327a4dd' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 263.285 263.285'%3E%3Cpath d='M193.882 8.561c-7.383-3.756-16.414-.813-20.169 6.573L62.153 234.556c-3.755 7.385-.812 16.414 6.573 20.169a14.94 14.94 0 006.786 1.632c5.466 0 10.735-2.998 13.383-8.205L200.455 28.73c3.755-7.385.812-16.414-6.573-20.169zM113.778 80.818c0-31.369-25.521-56.89-56.89-56.89C25.521 23.928 0 49.449 0 80.818c0 31.368 25.521 56.889 56.889 56.889 31.369 0 56.889-25.521 56.889-56.889zm-56.889 26.889C42.063 107.707 30 95.644 30 80.818c0-14.827 12.063-26.89 26.889-26.89 14.827 0 26.89 12.062 26.89 26.89-.001 14.826-12.063 26.889-26.89 26.889zM206.396 125.58c-31.369 0-56.89 25.521-56.89 56.889 0 31.368 25.52 56.889 56.89 56.889 31.368 0 56.889-25.52 56.889-56.889 0-31.369-25.52-56.889-56.889-56.889zm0 83.777c-14.827 0-26.89-12.063-26.89-26.889 0-14.826 12.063-26.889 26.89-26.889 14.826 0 26.889 12.063 26.889 26.889 0 14.826-12.062 26.889-26.889 26.889z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }
  }
  &__cont {
    padding: 20px 28px 15px;
  }
  &__date {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    span {
      line-height: 1;
      &:first-child {
        color: #3c3c3c;
      }
      &:last-child {
        color: #a2a6a7;
      }
    }
  }
  &__text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(#3c3c3c, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3 ease;

  &.show {
    // opacity: 1;
    visibility: visible;
    pointer-events: auto;
    animation: overlayVisible 0.3s ease;
    animation-fill-mode: forwards;
  }
}

@keyframes overlayVisible {
  0% {
    opacity: 0;
    // visibility: hidden;
  }
  100% {
    opacity: 1;
    // visibility: visible;
  }
}
@import 'helpers';
