.form-contacts {
  background-color: #eeeeee;
  padding: 99px 0 95px;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    @include xl {
      align-items: center;
      flex-direction: row;
    }
  }
  &__text {
    padding-right: 30px;
  }
  &__form {
    flex: 1;
    width: 100%;

    @include xl {
      max-width: 470px;
    }
    @include xxl {
      max-width: 100%;
    }

    form {
      display: flex;
      // align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;

      @include xl {
        // flex-direction: row;
        // align-items: flex-end;
      }
      @include xxl {
        flex-direction: row;
        align-items: flex-end;
      }
    }
    .field-text {
      width: 100%;

      @include xxl {
        margin: 0 15px 0 0;
        max-width: 265px;
      }
      &:not(.field-text--error) {
        .field-text__input {
          border-color: #fff;
        }
      }
    }
    .btn {
      @include xl-max {
        margin-top: 15px;
      }
    }
  }
  &__title {
    line-height: 1;
  }
  &__subtitle {
    padding-top: 10px;
    font-size: 18px;
    max-width: 320px;
  }
}
