.nav {
  position: relative;

  &__panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    font-size: 16px;
    line-height: 1;
    color: #fff;

    transition: all $transition-time;

    @include md {
      font-size: 18px;
    }

    &--home {
      width: 43px;
      @include md {
        width: 93px;
      }
    }
    &--dropdown {
      &:focus {
        outline: none;
      }
      &::before {
        content: '';
        width: 24px;
        height: 17px;
        margin-right: 9px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 112.95 80' width='24' height='17' fill='%23ffffff'%3E%3Crect width='112.95' height='16' rx='2'%3E%3C/rect%3E%3Crect y='30' width='112.95' height='16' rx='2'%3E%3C/rect%3E%3Crect y='60' width='112.95' height='16' rx='2'%3E%3C/rect%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
      &:hover,
      &.active {
        background-color: #38bced;
        color: #3c3c3c;

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 112.95 80' width='24' height='17' fill='%233e3e3e'%3E%3Crect width='112.95' height='16' rx='2'%3E%3C/rect%3E%3Crect y='30' width='112.95' height='16' rx='2'%3E%3C/rect%3E%3Crect y='60' width='112.95' height='16' rx='2'%3E%3C/rect%3E%3C/svg%3E");
          background-repeat: no-repeat;
        }
      }
    }
    &--stock {
      svg {
        margin-right: 5px;
        margin-right: 5px;
      }
    }
    &:hover {
      background-color: #38bced;
      color: #3c3c3c;
    }
  }

  &__main {
    display: inline-flex;
    align-items: stretch;

    button {
      background-color: transparent;
      border: 0;
      display: block;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @include md-max {
      display: none;
    }

    a {
      display: inline-flex;
      align-items: center;
      margin-left: 15px;
      line-height: 1;
      color: #fff;

      @include md {
        margin-left: 50px;
      }
    }
  }

  &-category {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fbfcfd;
    box-shadow: 4px 4px 4px 0 rgba($color: #82a7b7, $alpha: 0.5);
    z-index: 100;

    &.show {
      display: block;
      @include md-max {
        animation: mobileNavDisplayInMobile 0.3s ease;
      }
      @include lg {
        animation: mobileNavDisplayInDesktop 0.3s ease;
      }
    }

    &__title {
      color: #a8acad;
    }

    &__close {
      &.close {
        position: relative;
        top: 5px;
        right: 5px;
      }
    }

    &__links {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .nav-item {
        color: #3c3c3c;
        padding: 10px;
        font-size: 14px;
        &::before {
          content: none;
        }
      }
      @include lg {
        display: none;
      }
    }

    &__back {
      visibility: hidden;
      pointer-events: none;
      font-size: 0;
      width: 32px;
      height: 32px;
      position: relative;
      left: 5px;
      top: 5px;

      &::before {
        content: '';
        position: absolute;
        right: 50%;
        top: 60%;
        width: 18px;
        height: 18px;
        border-bottom: 1px solid currentColor;
        border-right: 1px solid currentColor;
        transform: translate(50%, -70%) rotate(135deg);
        transition: transform 0.3s, border-color 0.3s;
      }
      &.show {
        visibility: visible;
        pointer-events: auto;
      }
    }

    @include lg {
      width: 265px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: auto;
    }

    &__mobile-head {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #fff;
      position: absolute;
      height: 70px;
      top: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid;
      z-index: 1;

      @include lg {
        display: none;
      }
    }

    &__list {
      @include md-max {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        background: #fff;
        will-change: transform;
        padding-top: 70px;
      }
    }

    &__item {
      a {
        display: flex;
        align-items: center;
        padding: 10px;

        &.icon-nav {
          &::before {
            content: '';
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 15px;
          }

          &--1 {
            &::before {
              background-image: url('../img/icons/icon-nav-1.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-1-active.png');
              }
            }
          }
          &--2 {
            &::before {
              background-image: url('../img/icons/icon-nav-2.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-2-active.png');
              }
            }
          }
          &--3 {
            &::before {
              background-image: url('../img/icons/icon-nav-3.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-3-active.png');
              }
            }
          }
          &--4 {
            &::before {
              background-image: url('../img/icons/icon-nav-4.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-4-active.png');
              }
            }
          }
          &--5 {
            &::before {
              background-image: url('../img/icons/icon-nav-5.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-5-active.png');
              }
            }
          }
          &--6 {
            &::before {
              background-image: url('../img/icons/icon-nav-6.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-6-active.png');
              }
            }
          }
          &--7 {
            &::before {
              background-image: url('../img/icons/icon-nav-7.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-7-active.png');
              }
            }
          }
          &--8 {
            &::before {
              background-image: url('../img/icons/icon-nav-8.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-8-active.png');
              }
            }
          }
          &--9 {
            &::before {
              background-image: url('../img/icons/icon-nav-9.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-9-active.png');
              }
            }
          }
          &--10 {
            &::before {
              background-image: url('../img/icons/icon-nav-10.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-10-active.png');
              }
            }
          }
          &--11 {
            &::before {
              background-image: url('../img/icons/icon-nav-11.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-11-active.png');
              }
            }
          }
          &--12 {
            &::before {
              background-image: url('../img/icons/icon-nav-12.png');
            }
            &:hover {
              &::before {
                background-image: url('../img/icons/icon-nav-12-active.png');
              }
            }
          }
        }

        @include md-max {
          pointer-events: none;
        }

        span {
          display: block;

          &:first-child {
            color: #3c3c3c;
            font-size: 14px;
          }
          &:last-child {
            color: #a8acad;
            font-size: 12px;
            text-transform: lowercase;
          }
        }

        &:hover {
          background-color: #2d9add;
          span {
            color: #fff;
          }
        }
      }
    }
  }

  // Subcategory
  &-subcategory {
    display: none;

    @include md-max {
      position: fixed;
      left: 0;
      top: 70px;
      width: 100%;
      bottom: 0;
    }
    @include lg {
      background-color: #fff;
      box-shadow: 4px 4px 4px 0 rgba($color: #82a7b7, $alpha: 0.5);
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding-left: 265px;
      min-height: 600px;
      z-index: 1;
    }

    &.show {
      display: block;
      @include md-max {
        animation: mobileSubNavOverlayShowIn 0.3s ease;
        z-index: 200;
      }
    }

    &__panel {
      background-color: #fff;
      overflow-y: auto;
      animation: mobileNavDisplayInDesktop 0.3s ease;
      padding: 15px 30px;
      outline: none;

      @include md-max {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      @include lg {
        column-count: 3;
      }

      &:not([hidden]) {
        @include md-max {
          animation: mobileSubNavDisplay 0.3s ease;
        }
      }
    }
    &__item {
      background-color: #fff;
      page-break-inside: avoid;
      break-inside: avoid;
      padding-bottom: 10px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        line-height: 1;

        &[hidden] ~ li {
          display: none;
        }
        a {
          color: #909292;
          font-size: 12px;
          // line-height: (20/12);
        }
      }
    }

    &__title {
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      color: #323639;
    }

    &__more {
      font-size: 11px;
      line-height: 1;
      background: transparent;
      color: #27a4dd;
      padding: 0;
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }
}

.no-touch {
  .nav-category__mobile-head {
    display: none;
  }
}

@keyframes mobileNavDisplayInDesktop {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mobileNavDisplayInMobile {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mobileSubNavOverlayShowIn {
  0% {
    background-color: rgba($color: #000000, $alpha: 0);
  }
  to {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
@keyframes mobileSubNavDisplayOut {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes mobileSubNavDisplay {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
