<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="footer__nav">
          <span class="footer__title">Информация</span>
          <ul>
            <li><a href="">Акции</a></li>
            <li><a href="">Новости</a></li>
            <li><a href="">Статьи</a></li>
            <li><a href="">Услуги</a></li>
            <li><a href="">Доставка</a></li>
            <li><a href="">Оплата</a></li>
            <li><a href="">Гарантия</a></li>
            <li><a href="">Дизайнерами</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="footer__nav">
          <span class="footer__title">О нас</span>
          <ul>
            <li><a href="">О компании</a></li>
            <li><a href="">Бренды</a></li>
            <li><a href="">Контакты ИМ</a></li>
            <li><a href="">Магазины Водолей</a></li>
            <li><a href="">Вакансии</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="footer__contacts">
          <span class="footer__title">Контакты</span>
          <p>
            Индекс: 196084,<br />г. Санкт-Петербург,<br />ул. Коли Томчака д.32
            б
          </p>
          <p>
            <ul>
              <li><a href="tel:+78123747383">8 (812) 374-73-83</a></li>
              <li><a href="tel:+78123865995">8 (812) 386-59-95</a></li>
            </ul>
          </p>
          <p>
            <ul>
              <li>Пн-Пт: 09-21</li>
              <li>Сб-Вс: 10-20</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="footer__social">
          <span class="footer__title">Оставайтесь на связи</span>
          <div class="social">
            <div class="social__title">Мы в соцеальных сетях:</div>
            <ul>
              <li><a href="" class="social__icon social__icon--dzen"></a></li>
              <li><a href="" class="social__icon social__icon--in"></a></li>
              <li><a href="" class="social__icon social__icon--vk"></a></li>
            </ul>
          </div>
          <div class="rating-store">
            <div class="rating-store__title">Рейтинг магазина</div>
            <div class="rating-store__stars">
              <span class="star-on"></span>
              <span class="star-on"></span>
              <span class="star-on"></span>
              <span></span>
              <span></span>
            </div>
            <img src="img/icons/yandex-market.png" alt="">
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer__bottom-panel">
      <span>2009-2020 © Стройлэнд</span>
      <span
        >Информация, представленная на сайте, не является публичной офертой.
        <br />
        Цены указаны для ознакомления.
      </span>
    </div>
  </div>
</footer>
