<header class="header">
  <div class="header__top-panel">
    <div class="container">
      <div class="top-panel">
        <div class="top-panel__text">
          <span>Интернет-магазин Стройлэнд - сантехника отопление насосы</span>
          В связи с неустойчивостью курсов валют цены могут отличаться от
          заявленных. <br />Просим уточнять цены у менеджеров.
        </div>
        <div class="top-panel__menu" data-mobile-menu>
          <div class="top-panel__menu-head">
            <button class="js-menu-back btn-back">back</button>
            <button class="js-menu-close close"></button>
          </div>
          <ul class="top-panel__links">
            <li class="top-panel__dropdown" data-mobile-submenu-trigger>
              <a href="">Магазины</a>
              <div class="top-panel__dropdown-body">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
            <li class="top-panel__dropdown" data-mobile-submenu-trigger>
              <span>Покупателям</span>
              <div class="top-panel__dropdown-body">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
            <li>
              <a href="">Юридическим лицам</a>
            </li>
          </ul>
          <ul class="top-panel__auth">
            <li>
              <a href="" class="icon-user">
                <svg width="22" height="19">
                  <use xlink:href="img/icons.svg#user"></use>
                </svg>
                Войти
              </a>
            </li>
            <li>
              <a href="">Зарегистрироваться</a>
            </li>
          </ul>
        </div>
        <button
          class="js-contacts-trigger top-panel__contacts-trigger"
        ></button>
        <button class="js-menu-trigger top-panel__menu-trigger"></button>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container">
      <div class="header-middle__inner">
        <a href="/" class="logo logo--new-year"
          ><img src="img/logo.png" alt=""
        /></a>
        <ul class="contacts" data-mobile-contacts>
          <li>
            <a href="tel:+78123747383">8 (812) 374-73-83</a>
            <span
              >Физ. лицам
              <a href="mailto:vodoley-inet@yandex.ru"
                >vodoley-inet@yandex.ru</a
              ></span
            >
          </li>
          <li>
            <a href="tel:+78123865995">8 (812) 386-59-95</a>
            <span
              >Юр. лицам
              <a href="mailto:vodoley-sale2@yandex.ru"
                >vodoley-sale2@yandex.ru</a
              ></span
            >
          </li>
        </ul>
        <div class="header-middle__group">
          <div class="header-middle__group-row">
            <div class="header-middle__location">
              Ваш город:
              <a href="javascript:;" data-micromodal-trigger="modal-location"
                >Санкт-Петербург</a
              >
            </div>
            <div class="header-middle__nav">
              <ul>
                <li>
                  <a href="" class="icon-nav icon-nav--phone">
                    <svg width="18" height="18">
                      <use xlink:href="img/icons.svg#call"></use>
                    </svg>
                    Обратный звонок
                  </a>
                </li>
                <li>
                  <a href="" class="icon-nav icon-nav--compare">
                    <svg width="24" height="19">
                      <use xlink:href="img/icons.svg#compare"></use>
                    </svg>
                    Сравнить
                  </a>
                </li>
                <li>
                  <a href="" class="icon-nav icon-nav--favor">
                    <svg width="21" height="18">
                      <use xlink:href="img/icons.svg#heart"></use>
                    </svg>
                    Избранное
                  </a>
                </li>
                <li>
                  <a href="" class="icon-nav icon-nav--cart">
                    <svg width="19" height="19">
                      <use xlink:href="img/icons.svg#cart"></use>
                    </svg>
                    Корзина
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="header-middle__search">
            <form action="" class="search">
              <input
                type="text"
                class="search__input"
                placeholder="Поиск по сайту..."
              />
              <button type="submit" class="search__btn">
                <svg width="20" height="20">
                  <use xlink:href="img/icons.svg#loupe"></use>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__nav-panel">
    <div class="container">
      <div class="nav">
        <div class="nav__panel">
          <div class="nav__main">
            <a href="/" class="nav-item nav-item--home">
              <svg width="20" height="18">
                <use xlink:href="img/icons.svg#home"></use>
              </svg>
            </a>
            <button class="js-nav-trigger nav-item nav-item--dropdown">
              Каталог
            </button>
            <div class="nav-category">
              <div class="nav-category__mobile-head">
                <button class="js-nav-back btn-back">back</button>
                <span class="nav-category__title">Каталог</span>
                <button class="js-nav-close nav-category__close close"></button>
                <div class="nav-category__links">
                  <a href="" class="nav-item nav-item--stock">
                    <svg width="20" height="20">
                      <use xlink:href="img/icons.svg#sale"></use>
                    </svg>
                    Акции и скидки
                  </a>
                  <a href="" class="nav-item">Распродажа</a>
                  <a href="" class="nav-item">Услуги</a>
                </div>
              </div>
              <div class="nav-category__list" data-nav-tabs data-tabs>
                <div class="nav-category__item">
                  <a href="#" class="icon-nav icon-nav--1">
                    <div class="nav-category__name">
                      <span>Насосная техника</span>
                      <span>насосы мотопомпы</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--2">
                    <div class="nav-category__name">
                      <span>Кухонная техника</span>
                      <span>панели вытяжки</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="#" class="icon-nav icon-nav--3">
                    <div class="nav-category__name">
                      <span>Инженерная сантехника</span>
                      <span>трубы краны канализация</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--4">
                    <div class="nav-category__name">
                      <span>Электрика</span>
                      <span>кабель провода</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--5">
                    <div class="nav-category__name">
                      <span>Инструмент, оборудование</span>
                      <span>бетоносмесители стремянки</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--6">
                    <div class="nav-category__name">
                      <span>Бытовая сантехника</span>
                      <span>смесители ванны</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--7">
                    <div class="nav-category__name">
                      <span>Системы водоотведения</span>
                      <span>септики станции очистки</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--8">
                    <div class="nav-category__name">
                      <span>ЛКМ, пены, герметики</span>
                      <span>грунты лаки краски</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--9">
                    <div class="nav-category__name">
                      <span>Отопительная техника</span>
                      <span>котлы горелки</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--10">
                    <div class="nav-category__name">
                      <span>Системы водоочистки</span>
                      <span>дозирующие клапаны</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--11">
                    <div class="nav-category__name">
                      <span>Новогодние украшения</span>
                      <span>гибкий неон декор</span>
                    </div>
                  </a>
                </div>
                <div class="nav-category__item">
                  <a href="" class="icon-nav icon-nav--12">
                    <div class="nav-category__name">
                      <span>Распродажа</span>
                      <span>товары со скидками</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__links">
            <a href="" class="nav-item nav-item--stock">
              <svg width="20" height="20">
                <use xlink:href="img/icons.svg#sale"></use>
              </svg>
              Акции и скидки
            </a>
            <a href="" class="nav-item">Распродажа</a>
            <a href="" class="nav-item">Услуги</a>
          </div>
        </div>

        <div class="nav-subcategory" data-nav-panes data-panes>
          <div class="nav-subcategory__panel">Насосная техника...</div>
          <div class="nav-subcategory__panel">Кухонная техника...</div>
          <div class="nav-subcategory__panel">Инженерная сантехника...</div>
          <div class="nav-subcategory__panel">Электрика...</div>
          <div class="nav-subcategory__panel">Инструмент, оборудование...</div>
          <div class="nav-subcategory__panel">
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Смесители</a>
              <ul>
                <li><a href="">Смесители для ванны</a></li>
                <li><a href="">Смесители для душа</a></li>
                <li><a href="">Смесители для кухни</a></li>
                <li hidden><a href="">скрытая подкатегория...</a></li>
                <li><a href="">скрытая подкатегория...</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Ванны</a>
              <ul>
                <li><a href="">Акриловые ванны</a></li>
                <li><a href="">Стальные ванны</a></li>
                <li><a href="">Чугунные ванны</a></li>
                <li hidden><a href="">скрытая подкатегория...</a></li>
                <li><a href="">скрытая подкатегория...</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Полотенцесушители</a>
              <ul>
                <li><a href="">Водчяные полотенцесушители</a></li>
                <li><a href="">Электрические полотенцесушители</a></li>
                <li><a href="">Комплектующие для полотенцесушителя</a></li>
              </ul>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Раковины</a>
              <ul>
                <li><a href="">Подвесные раковины</a></li>
                <li><a href="">Раковины для столешницы</a></li>
                <li hidden><a href="">скрытая подкатегория...</a></li>
                <li><a href="">скрытая подкатегория...</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Мойки</a>
              <ul>
                <li><a href="">Мойки для кухни из нержавеющей стали</a></li>
                <li><a href="">Мойки для кухни из закаленного стекла</a></li>
                <li hidden><a href="">скрытая подкатегория...</a></li>
                <li><a href="">скрытая подкатегория...</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Унитазы</a>
              <ul>
                <li><a href="">Напольные унитазы с бачком</a></li>
                <li><a href="">Напольные унитазы без бачка</a></li>
                <li hidden><a href="">скрытая подкатегория...</a></li>
                <li><a href="">скрытая подкатегория...</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Писсуары</a>
              <ul>
                <li><a href="">Писсуары</a></li>
                <li hidden><a href="">скрытая подкатегория...</a></li>
                <li><a href="">скрытая подкатегория...</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Биде</a>
              <ul>
                <li><a href="">Биде напольное</a></li>
                <li><a href="">Биде подвесное</a></li>
              </ul>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Инсталляции</a>
              <ul>
                <li>
                  <a href="">Инсталляции для унитаза, раковины, биде, душа</a>
                </li>
                <li><a href="">Комплектующие для инсталляций</a></li>
              </ul>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title"
                >Душевые кабины, поддоны, ограждения</a
              >
              <ul>
                <li><a href="">Душевые кабины</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title"
                >Мебель для ванной комнаты</a
              >
              <ul>
                <li><a href="">Зеркала для ванной комнаты</a></li>
                <li><a href="">Комплектующие и аксессуары для мебели</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Мебель для кухни</a>
              <ul>
                <li><a href="">Посудосушители</a></li>
                <li><a href="">Тумбы под мойку</a></li>
              </ul>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Чашки декоративные</a>
              <ul>
                <li><a href="">Отражатели</a></li>
                <li><a href="">Чашки декоративные</a></li>
                <li><a href="">Настенная розетка для вентилей</a></li>
              </ul>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title"
                >Аксессуары для ванной</a
              >
              <ul>
                <li><a href="">Держатели для туалетной бумаги</a></li>
                <li><a href="">Крючки для полотенец</a></li>
                <li><a href="">Вёдра для мусора</a></li>
                <li hidden><a href="">скрытая подкатегория...</a></li>
                <li><a href="">скрытая подкатегория...</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Вентиляция</a>
              <ul>
                <li><a href="">Напольные вентиляторы</a></li>
                <li><a href="">Настольные вентиляторы</a></li>
                <li><a href="">Вентиляторы настенные</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Душевые панели</a>
              <ul>
                <li><a href="">Душевые панели</a></li>
                <li><a href="">Душевая система со смесителем</a></li>
                <li><a href="">Душевые системы без смесителя</a></li>
              </ul>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title"
                >Для общественных санузлов и туалетных комнат</a
              >
              <ul>
                <li><a href="">Сантехника сенсорная</a></li>
                <li><a href="">Сантехника антивандальная</a></li>
                <li><a href="">Дозаторы для жидкого мыла</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
            <div class="nav-subcategory__item">
              <a href="" class="nav-subcategory__title">Сантехника для дачи</a>
              <ul>
                <li><a href="">Баки для душа</a></li>
                <li><a href="">Биотуалеты</a></li>
                <li><a href="">Компостеры</a></li>
              </ul>
              <button class="js-nav-subcategory nav-subcategory__more">
                еще
              </button>
            </div>
          </div>
          <div class="nav-subcategory__panel">Системы водоотведения...</div>
          <div class="nav-subcategory__panel">ЛКМ, пены, герметики...</div>
          <div class="nav-subcategory__panel">Отопительная техника...</div>
          <div class="nav-subcategory__panel">Системы водоочистки...</div>
          <div class="nav-subcategory__panel">Новогодние украшения...</div>
          <div class="nav-subcategory__panel">Распродажа...</div>
        </div>
      </div>
    </div>
  </div>
</header>
